---
// 1. 引入刚才写好的底座
import BaseLayout from '../layouts/BaseLayout.astro';

// 2. 引入组件和常量
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import Intro from '../components/intro.md';

// 3. 数据获取逻辑（保持不变）
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Home" description={SITE_DESCRIPTION}>
  
  <article>
    <Intro />
  </article>

  <hr class="dIivider" />

  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              {post.data.title}
            </a>
            <span class="date">
              <FormattedDate date={post.data.pubDate} />
            </span>
          </li>
        ))
      }
    </ul>
  </section>

</BaseLayout>