---
import { SITE_TITLE } from "../consts";
---

<header>
  <a class="title" href="/"style="font-family: 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif; letter-spacing: 0.05em;">
    <h1>{SITE_TITLE}</h1>
  </a>
  <slot />
</header>
